/*
Colors inspired by GMK 8008 by Dixie Mech
https://dixiemech.com/gmk8008
Dark Blue:   #3c4756
Light Blue:  #a2aebd
Pink:        #f44c7f
*/

body {
  background: #3c4756;
}

#header,
#left-wing,
#right-wing,
#clicking-mode,
#reset-button,
#footer {
  color: #f44c7f;
}

#play-area,
#theme-area {
  background: #a2aebd;
}

#text-display {
  color: #3c4756;
}

#play-area {
  --target: #3c4756;
  --hit: #6f7b8a;
  --miss: #c6262e;
  --hover: #f44c7f;
  --end: #6f7b8a;
  /* different color here would be good */
}