/*
Colors inspired by GMK 9009 by Dixie Mech
https://dixiemech.com/gmk9009
legend color: #2e2f33
off white: #d9d2c8
beige accent: #b6b09a
red: #d28782
green: #6f8c70
*/

body {
  background: #b6b09a;
}

.display-text {
  color: #2e2f33;
}

#play-area,
#theme-area {
  background: #d9d2c8;
}

#play-area {
  --target: #2e2f33;
  --hit: #6f8c70;
  --miss: #d28782;
  --hover: #96907a;
  --end: #d9d2c8;
  /* different color here would be good */
}