body {
  background: linear-gradient(-20deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 60s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.display-text {
  color: #fafafa;
}

#play-area,
#theme-area {
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(1rem);
}

#play-area {
  --hover: #1a1a1a;
  --hit: #fafafa;
  --miss: #c6262e;
  --target: #a56de2;
  --end: #1a1a1a;
}