body {
  background: #1a1a1a;
}

.display-text {
  color: #fafafa;
}

#play-area,
#theme-area {
  background: #691f28;
}

#play-area {
  --target: #fafafa;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #f9c440;
  --end: #1a1a1a;
}