body {
  background: #575d5e;
}

.display-text {
  color: #ed6b21;
}

#header {
  color: #e3d9c6;
}

#play-area,
#theme-area {
  background: #e3d9c6;
}

#play-area {
  --end: #e3d9c6;
  --hover: #9d9b92;
  --miss: #c6262e;
  --hit: #ed6b21;
  --target: #575d5e;
}