/*
Colors inspired by GMK Denim by T0mb3ry
https://www.originativeco.com/products/denim
red: #a62700
light blue: #687796
dark blue: #454f63
brown: #b8835f
sand: #e3d5b9
*/

body {
  background: #454f63;
}

.display-text {
  color: #e3d5b9;
}

#header {
  color: #b8835f;
}

#play-area,
#theme-area {
  background: #687796;
}

#play-area {
  --target: #b8835f;
  --hover: #a6a6a8;
  --miss: #a62700;
  --hit: #b8835f;
  --end: #454f63;
}