/*
Colors inspired by GMK Dots by biip
https://novelkeys.xyz/products/gmk-dots-gb
dark blue:  #191b25
red:        #fe494e
purple:     #9b57ff
blue:       #36c1f6
green:      #32cb8b
yellow:     #ffd751
orange:     #ff9552
*/

body {
  background: #191b25;
}

#header {
  color: #fafafa;
}

#left-wing {
  color: #ff9552;
}

#right-wing {
  color: #ffd751;
}

#clicking-mode {
  color: #fe494e;
}

#reset-button {
  color: #32cb8b;
}

#footer {
  color: #36c1f6;
}

#play-area,
#theme-area {
  background: #232533;
}

#play-area {
  --hover: #36c1f6;
  --hit: #32cb8b;
  --miss: #fe494e;
  --target: #9b57ff;
  --end: #fafafa;
}