body {
  background: #282a36;
}

#header,
#footer {
  color: #f8f8f2;
}

#left-wing,
#clicking-mode {
  color: #8be9fd;
}

#right-wing,
#reset-button {
  color: #bd93f9;
}

#play-area,
#theme-area {
  background: #44475a;
}

#play-area {
  --target: #f8f8f2;
  --hit: #50fa7b;
  --miss: #ff5555;
  --hover: #f1fa8c;
  --end: #ff79c6;
}