/*
Adapted from the Gruvbox theme
*/

body {
  background: #282828;
}

.display-text {
  color: #d79921;
}

#play-area,
#theme-area {
  background: #1d2021;
}

#play-area {
  --target: #d79921;
  --hit: #98971a;
  --miss: #cc241d;
  --hover: #83a598;
  --end: #ebdbb2;
}