body {
  background: #636767;
}

.display-text {
  color: #e5e8e6;
}

#play-area,
#theme-area {
  background: #f7f7f7;
}

#play-area {
  --target: #e5e8e6;
  --hit: #99a4a6;
  --target: #c43932;
  --hover: #c43932;
  --end: #575d5e;
}