body {
  background: #555761;
}

.display-text {
  color: #25cdc5;
}

#header {
  color: #d4d4d4;
}

#play-area,
#theme-area {
  background: #d4d4d4;
}

#play-area {
  --hover: #25cdc5;
  --hit: #68b723;
  --miss: #c6262e;
  --target: #6c3c9d;
  --end: #555761;
}