body {
  background: #fafafa;
}

#header {
  color: #1a1a1a;
}

.display-text {
  color: #1a1a1a;
}

#theme-area {
  background: #eaeaea;
}

#footer {
  color: #1a1a1a;
}

#play-area {
  --target: #1a1a1a;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #a56de2;
  --end: #d4d4d4;
}