/*
Colors inspired by GMK Mizu by Rensunya
https://dixiemech.com/gmkmizu
dark blue: #253746
light blue: #b9d9eb
*/

body {
  background: #253746;
}

.display-text {
  color: #fafafa;
}

#play-area,
#theme-area {
  background: #b9d9eb;
}

#play-area {
  --target: #a56de2;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #fafafa;
  --end: #253746;
}