/*
Colors inspired by GMK Modern Dolch by Janglad
https://clavier.xyz/moderndolch
dark gray: 494b4f
light gray: 7c7e81
Red: bc5868
Cyan: 81d8d0
*/

body {
  background: #494b4f;
}

.display-text {
  color: #fafafa;
}

#play-area,
#theme-area {
  background: #7c7e81;
}

#play-area {
  --target: #81d8d0;
  --hit: #bbbcbe;
  --miss: #bc5868;
  --hover: #fafafa;
  --end: #fafafa;
}