/*
Colors inspired by Monokai syntax theme
*/

body {
  background: #171812;
}

.display-text {
  color: #A6E22E;
}

#play-area,
#theme-area {
  background: #272822;
}

#play-area {
  --target: #66D9EF;
  --hit: #A6E22E;
  --miss: #F92672;
  --end: #A6E22E;
  --hover: #F8F8F2;
}