/*
Colors inspired by GMK Mr. Sleeves by Taeha Types
https://novelkeys.xyz/products/gmk-mr-sleeves
light blue: #adcff1
light pink: #f5c7b8
*/

body {
  background: #d4d4d4;
}

.display-text {
  color: #1a1a1a;
}

#play-area,
#theme-area {
  background: #eaeaea;
}

#play-area {
  --target: #ceaef2;
  --hit: #adcff1;
  --hover: #f5c7b8;
  --miss: #1a1a1a;
  --end: #1a1a1a;
}