/*
Inspired by GMK Nautilus by Zambumon
https://zambumon.com
accents: #eac004
modidifers: #102c4e
alphas: #155d94
alphas legends: #1ae7ea
*/

body {
  background: #102c4e;
}

.display-text {
  color: #eac004;
}

#play-area,
#theme-area {
  background: #155d94;
}

#play-area {
  --target: #eac004;
  --hit: #6a7e93;
  --miss: #e2322e;
  --hover: #eac004;
  --end: #1ae7ea;
}