body {
  background: #242933;
}

.display-text {
  color: #eceff4;
}

#play-area,
#theme-area {
  background: #2e3440;
}

#play-area {
  --target: #b48ead;
  --hit: #a3be8c;
  --miss: #bf616a;
  --hover: #eceff4;
  --end: #242933;
}