body {
  background: #464746;
}

.display-text {
  color: #ffac00;
}

#header {
  color: #c8c3b8;
}

#play-area,
#theme-area {
  background: #63696a;
}

#play-area {
  --target: #a698c5;
  --hit: #93c247;
  --miss: #ea4221;
  --hover: #c8c3b8;
  --end: #464746;
}