body {
  background: #363434;
}

.display-text {
  color: #e8c4b8;
}

#play-area,
#theme-area {
  background: #fafafa;
}

#play-area {
  --target: #a56de2;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #e8c4b8;
  --end: #363434;
}