body {
  background: #211333;
}

.display-text {
  color: #eed484;
}

#play-area,
#theme-area {
  background: #2e1a47;
}

#play-area {
  --target: #a56de2;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #eed484;
  --end: #211333;
}