body {
  background: #eaeaea;
}

.display-text {
  color: #1a1a1a;
}

#header {
  color: #ffc700;
}

#play-area,
#theme-area {
  background: #d4d4d4;
}

#play-area {
  --target: #a56de2;
  --hit: #68b723;
  --miss: #c6262e;
  --hover: #ffc700;
  --end: #1a1a1a;
}