/*
Inspired by Ducky x Varmilo Sakura by fr3fou
https://mechanicalkeyboards.com/shop/index.php?l=product_detail&p=2920
pink: #ff98ac;
darker-pink: #de1d57;
red: #fa2f56;
light-gray: #efefef;
brown: #917075;
*/

body {
  background: linear-gradient(-20deg, rgba(255, 186, 200, 1) 0%, rgba(255, 152, 172, 1) 100%);
}

.display-text {
  color: #fff;
}

#play-area,
#theme-area {
  background: #fff;
}

#play-area {
  --target: #917075;
  --hit: #db7998;
  --miss: #de1d57;
  --end: #ffffff;
  --hover: #ff98ac;
}