/*
Inspired by GMK Nautilus by Zambumon
https://zambumon.com
accents: #302f2b
modifiers: #ffcd00
alphas: #f0ebd7
alphas legends: #302f2b
*/

body {
  background: #ffcd00;
}

.display-text {
  color: #302f2b;
}

#play-area,
#theme-area {
  background: #f0ebd7;
}

#play-area {
  --target: #302f2b;
  --hit: #6a7e93;
  --miss: #e2322e;
  --hover: #302f2b;
  --end: #ffcd00;
}