body {
  background: #e3ddcc;
}

.display-text {
  color: #1a1a1a;
}

#play-area,
#theme-area {
  background: #fdf6e3;
}

#play-area {
  --target: #6c71c4;
  --hit: #859900;
  --miss: #dc322f;
  --hover: #1a1a1a;
  --end: #e3ddcc;
}