body {
  background: #1a1a1a;
}

.display-text {
  color: #fafafa;
}

#play-area,
#theme-area {
  background: #002b36;
}

#play-area {
  --target: #6c71c4;
  --hit: #859900;
  --miss: #dc322f;
  --hover: #fafafa;
  --end: #1a1a1a;
}