body {
  background: #5A5E61;
}

.display-text {
  color: #e5e8e6;
}

#play-area,
#theme-area {
  background: #f7f7f7;
}

#play-area {
  --target: #136EA3;
  --hover: #99a4a6;
  --miss: #c43932;
  --end: #e5e8e6;
  --hit: #575d5e;
}