/*
Inspired by GMK Yuri by T0mb3ry
https://drop.com/buy/massdrop-x-t0mb3ry-gmk-yuri-custom-keycap-set
orange: #ea4221
navy: #293649
light blue: #abc6dc
*/

body {
  background: #293649;
}

.display-text {
  color: #ea4221;
}

#play-area,
#theme-area {
  background: #abc6dc;
}

#play-area {
  --target: #a56de2;
  --hit: #6a7e93;
  --miss: #c6262e;
  --hover: #ea4221;
  --end: #293649;
}